{{#each questions as |question|}}
  <div class="card bg-primary text-white text-center mb-3 tile" data-id="{{question._id}}">
    <div class="card-body">
       <h5 class="card-title">{{question.question}}</h5>
        <button type="button" data-id="{{question._id}}" data-toggle="modal" data-target=".settings-modal" class="btn settings btn-secondary text-white">Settings</button>
     </div>
  </div>

  <!-- Update and Delete Modal -->
  <div class="modal fade settings-modal" id="settings-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Settings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="edit-question">
        <div class="modal-body">
           <input type="text" name="question[question]" placeholder="Edit question..." required>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary">Edit Question</button>
          <button type="button" class="btn btn-danger delete-question-button" data-dismiss="modal">Delete Question</button>
        </div>
       </form>
      </div>
    </div>
  </div>

    {{#each question.paragraphs as |response|}}
    <p class="card-text question-handlebars">{{response.answer}}</p>
    {{/each}}
  {{/each}}
